body {
    background-color: #212121;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    border: 10px dashed #fefefe;
    border-radius: 8px;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

a::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background-color: #212121;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
}


a::after {
    content: '';
    position: absolute;
    left: 15px;
    top: -10px;
    height: calc(100% + 40px);
    width: calc(100% - 28px);
    background-color: #21212175;
}

a span {
    position: relative;
    z-index: 3;
}

a span::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -100px;
    width: 100%;
    height: 100%;
    background-color: #21212175;
}

a span::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -100px;
    width: 100%;
    height: 100%;
    background-color: #21212175;
}

button {
    background-color: none;
    text-decoration: none;
    background-color: #212121;
    border: none;
}